@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?1a965be7b04c01309f384d948d26e00c") format("truetype"), url("./flaticon.woff?1a965be7b04c01309f384d948d26e00c") format("woff"), url("./flaticon.woff2?1a965be7b04c01309f384d948d26e00c") format("woff2"), url("./flaticon.eot?1a965be7b04c01309f384d948d26e00c#iefix") format("embedded-opentype"), url("./flaticon.svg?1a965be7b04c01309f384d948d26e00c#flaticon") format("svg"); }

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.flaticon-sello:before {
  content: ""; }

.flaticon-blockchain:before {
  content: ""; }

.flaticon-reproductor-de-video:before {
  content: ""; }

.flaticon-reconocimiento-facial:before {
  content: ""; }

.flaticon-reconocimiento-facial-1:before {
  content: ""; }

.flaticon-contrato:before {
  content: ""; }

.flaticon-usuario:before {
  content: ""; }

.flaticon-phone:before {
  content: ""; }

.flaticon-save-money:before {
  content: ""; }

.flaticon-embassy:before {
  content: ""; }

.flaticon-hospital:before {
  content: ""; }

.flaticon-life-insurance:before {
  content: ""; }

.flaticon-store:before {
  content: ""; }

.flaticon-delivery:before {
  content: ""; }

.flaticon-online-shopping:before {
  content: ""; }

.flaticon-earth-grid:before {
  content: ""; }

.flaticon-banco:before {
  content: ""; }

.flaticon-arrow:before {
  content: ""; }
